<div class="container mx-auto mt-10">

  <h2 class="text-2xl font-semibold text-gray-800 mb-6">Listado de usuarios</h2>

  <!-- Filtros y opciones -->
  <div class="flex justify-between items-center mb-4">
    <!-- Selector de elementos por página -->
    <div>
      <label for="itemsPerPage" class="text-sm text-gray-600">Items por página:</label>
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="updateItemsPerPage($event)" class="ml-2 p-1 border rounded">
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="15">15</option>
        <option [value]="20">20</option>
      </select>
    </div>

    <!-- Botones de Filtros, Crear Usuario y Exportar a Excel -->
    <div class="flex space-x-4">
      <!-- Botón para mostrar/ocultar filtros -->
      <button (click)="toggleFilters()" class="bg-customPurple-100 hover:bg-customPurple-200 text-white py-2 px-4 rounded">
        Filtros
      </button>

      <!-- Botón para crear usuario -->
      <button (click)="navigateToCreateUser()" class="bg-green-700 hover:bg-green-800 text-white py-2 px-4 rounded">
        Crear #1
      </button>

      <!-- Botón para exportar a Excel -->
      <button (click)="exportToExcel()" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
        Exportar a Excel
      </button>
    </div>
  </div>

  <!-- Filtros de búsqueda -->
  <div *ngIf="showFilters" class="mb-4 p-4 border rounded bg-gray-50">
    <div class="grid grid-cols-2 gap-4">
      <input [(ngModel)]="usernameFilter" placeholder="Filtrar por v1" class="p-2 border rounded" />
      <input [(ngModel)]="fullNameFilter" placeholder="Filtrar por v2" class="p-2 border rounded" />
      <input [(ngModel)]="emailFilter" placeholder="Filtrar por v3" class="p-2 border rounded" />
      <input [(ngModel)]="phoneNumberFilter" placeholder="Filtrar por v4" class="p-2 border rounded" />
      <select [(ngModel)]="roleFilter" class="p-2 border rounded">
        <option [ngValue]="undefined">Filtrar por v5</option>
        <option *ngFor="let role of roles" [ngValue]="role.id">{{ role.name }}</option>
      </select>
    </div>
    <div class="mt-4 flex justify-between">
      <button (click)="applyFilters()" class="bg-blue-400 hover:bg-blue-500 text-white py-2 px-4 rounded">
        Aplicar Filtros
      </button>
      <button (click)="resetFilters()" class="bg-customPurple-100 hover:bg-customPurple-200 text-white py-2 px-4 rounded">
        Reset
      </button>
    </div>
  </div>

  <!-- Tabla de usuarios -->
  <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead class="bg-gray-200">
      <tr>
        <th class="p-3 text-left text-base font-semibold text-gray-700 cursor-pointer" (click)="toggleSort('id')">
          ID
          <span *ngIf="sortBy === 'id' && sortDirection === 'asc'">🔼</span>
          <span *ngIf="sortBy === 'id' && sortDirection === 'desc'">🔽</span>
        </th>
        <th class="p-3 text-left text-base font-semibold text-gray-700 cursor-pointer" (click)="toggleSort('username')">
          Variable1
          <span *ngIf="sortBy === 'username' && sortDirection === 'asc'">🔼</span>
          <span *ngIf="sortBy === 'username' && sortDirection === 'desc'">🔽</span>
        </th>
        <th class="p-3 text-left text-base font-semibold text-gray-700 cursor-pointer" (click)="toggleSort('full_name')">
          Variable2
          <span *ngIf="sortBy === 'full_name' && sortDirection === 'asc'">🔼</span>
          <span *ngIf="sortBy === 'full_name' && sortDirection === 'desc'">🔽</span>
        </th>
        <th class="p-3 text-left text-base font-semibold text-gray-700">Variable3</th>
        <th class="p-3 text-left text-base font-semibold text-gray-700 cursor-pointer" (click)="toggleSort('phone_number')">
          Variable4
          <span *ngIf="sortBy === 'phone_number' && sortDirection === 'asc'">🔼</span>
          <span *ngIf="sortBy === 'phone_number' && sortDirection === 'desc'">🔽</span>
        </th>
        <th class="p-3 text-left text-base font-semibold text-gray-700">Variable5</th>
        <th class="p-3 text-center text-base font-semibold text-gray-700">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users | slice:(currentPage - 1) * itemsPerPage:(currentPage) * itemsPerPage">
        <tr>
          <td class="p-3 text-base text-gray-600">{{ user.id }}</td>
          <td class="p-3 text-base text-gray-600">{{ user.username }}</td>
          <td class="p-3 text-base text-gray-600">{{ user.full_name }}</td> <!-- Mostrar full_name -->
          <td class="p-3 text-base text-gray-600">{{ user.email }}</td>
          <td class="p-3 text-base text-gray-600">{{ user.phone_number }}</td> <!-- Mostrar número de teléfono -->
          <td class="p-3 text-base text-gray-600">{{ user.role.name || 'Sin Rol' }}</td>
          <td class="p-3 text-center">
            <!-- Botón para Editar Usuario -->
            <button (click)="viewUser(user.id)" class="bg-blue-400 hover:bg-blue-500 text-white text-sm font-medium py-2 px-3 rounded transition duration-150">
              Editar
            </button>

            <!-- Botón para Eliminar Usuario -->
            <button (click)="deleteUser(user)" class="bg-red-500 hover:bg-red-600 text-white text-sm font-medium py-2 px-3 ml-2 rounded transition duration-150">
              Eliminar
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <!-- Paginación -->
  <div class="flex justify-between items-center mt-6">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="bg-gray-200 hover:bg-gray-300 text-gray-600 text-sm font-medium py-1 px-3 rounded transition duration-150">
      Página anterior
    </button>

    <span class="text-sm text-gray-600">Página {{ currentPage }}</span>

    <button (click)="nextPage()" [disabled]="users.length < itemsPerPage" class="bg-gray-200 hover:bg-gray-300 text-gray-600 text-sm font-medium py-1 px-3 rounded transition duration-150">
      Siguiente página
    </button>
  </div>
</div>
