<div class="w-full max-w-4xl mx-auto p-8 bg-white shadow-lg rounded-xl flex flex-col mt-8">
    <h2 class="text-3xl font-bold text-center mb-6 text-gray-800">Crear Nueva Materia</h2>
  
    <div class="mb-8">
      <h3 class="text-xl font-semibold mb-6 text-gray-700">Ingresa los detalles de la materia</h3>
      <form (ngSubmit)="createSubject()" class="space-y-6">
        
        <!-- Campo Nombre de la Materia -->
        <div>
          <label for="name" class="block text-lg font-medium text-gray-600 mb-2">Nombre de la Materia</label>
          <input type="text" id="name" [(ngModel)]="name" name="name" 
                 class="border p-3 rounded-md w-full text-lg" placeholder="Ingresa el nombre de la materia" required>
        </div>
  
        <!-- Campo Código -->
        <div>
          <label for="code" class="block text-lg font-medium text-gray-600 mb-2">Código</label>
          <input type="text" id="code" [(ngModel)]="code" name="code" 
                 class="border p-3 rounded-md w-full text-lg" placeholder="Ingresa el código de la materia" required>
        </div>
  
        <!-- Facultad -->
        <div>
          <label for="faculty" class="block text-lg font-medium text-gray-600 mb-2">Facultad</label>
          <select [(ngModel)]="id_faculty" name="faculty" class="border p-3 rounded-md w-full text-lg" required>
            <option *ngFor="let faculty of faculties" [value]="faculty.id">{{ faculty.name }}</option>
          </select>
        </div>
  
        <!-- Botones de acción -->
        <div class="flex justify-end space-x-4">
          <button type="button" (click)="cancel()" class="bg-gray-500 text-white py-3 px-6 rounded-md hover:bg-gray-600 text-lg">
            Cancelar
          </button>
          <button type="submit" class="bg-green-600 hover:bg-green-700 text-white py-3 px-6 rounded-md text-lg">
            Crear Materia
          </button>
        </div>
      </form>
    </div>
  </div>
  