<!-- Contenido principal -->
<div class="container mx-auto mt-10 max-w-[95%]">
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">Listado de Facultades</h2>

  <!-- Filtros y opciones -->
  <div class="flex justify-between items-center mb-4">
    <!-- Selector de elementos por página -->
    <div>
      <label for="itemsPerPage" class="text-sm text-gray-600">Items por página:</label>
      <select
        id="itemsPerPage"
        [(ngModel)]="itemsPerPage"
        (ngModelChange)="onItemsPerPageChange($event)"
        class="ml-2 p-1 border rounded"
      >
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="15">15</option>
        <option [value]="20">20</option>
      </select>
    </div>

    <!-- Botones de Filtros, Crear Relación y Exportar a Excel -->
    <div class="flex space-x-4">
      <!-- Botón para mostrar/ocultar filtros -->
      <button
        (click)="showFilters = !showFilters"
        class="bg-customPurple-100 hover:bg-customPurple-200 text-white py-2 px-4 rounded"
      >
        Filtros
      </button>

      <!-- Botón para crear nueva relación -->
      <button
        (click)="navigateToCreate()"
        class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded"
      >
        Crear # 2
      </button>

      <!-- Botón para exportar a Excel -->
      <button
        (click)="exportToExcel()"
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
      >
        Exportar a Excel
      </button>
    </div>
  </div>

  <!-- Filtros de búsqueda -->
  <div *ngIf="showFilters" class="mb-4 p-4 border rounded bg-gray-50">
    <div class="grid grid-cols-2 gap-4">
      <input
        [(ngModel)]="relationIdFilter"
        placeholder="Filtrar por ID"
        class="p-2 border rounded"
        type="number"
      />
      <input
        [(ngModel)]="contractFilter"
        placeholder="Filtrar 1"
        class="p-2 border rounded"
        type="number"
      />
      <input
        [(ngModel)]="serviceFilter"
        placeholder="Filtrar 2"
        class="p-2 border rounded"
        type="number"
      />
      <input
        [(ngModel)]="accountManagerFilter"
        placeholder="Filtrar 3"
        class="p-2 border rounded"
        type="number"
      />
      <input
        [(ngModel)]="programmerFilter"
        placeholder="Filtrar 4"
        class="p-2 border rounded"
        type="number"
      />
    </div>
    <div class="mt-4 flex justify-between">
      <button (click)="applyFilters()" class="bg-blue-400 hover:bg-blue-500 text-white py-2 px-4 rounded">
        Aplicar Filtros
      </button>
      <button
        (click)="resetFilters()"
        class="bg-customPurple-100 hover:bg-customPurple-200 text-white py-2 px-4 rounded"
      >
        Reset
      </button>
    </div>
  </div>

  <!-- Tabla de relaciones -->
<table class="w-full bg-white shadow-md rounded-lg overflow-hidden">
  <thead class="bg-gray-200">
    <tr>
      <th class="p-3 text-left text-base font-semibold text-gray-700">ID</th>
      <th class="p-3 text-left text-base font-semibold text-gray-700">Variable1</th>
      <th class="p-3 text-left text-base font-semibold text-gray-700">Variable2</th>
      <th class="p-3 text-left text-base font-semibold text-gray-700">Variable3</th>
      <th class="p-3 text-left text-base font-semibold text-gray-700">Variable4</th>
      <th class="p-3 text-center text-base font-semibold text-gray-700">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let relation of relations">
      <td class="p-3 text-base text-gray-600">{{ relation.id }}</td>
      <td class="p-3 text-base text-gray-600">{{ relation.contract }}</td>
      <td class="p-3 text-base text-gray-600">{{ relation.service }}</td>
      <td class="p-3 text-base text-gray-600">{{ relation.account_manager_display }}</td>
      <td class="p-3 text-base text-gray-600">{{ relation.programmer_display }}</td>
      <td class="p-3 text-center">
        <button (click)="editRelation(relation)" class="bg-blue-500 text-white py-1 px-2 rounded">Editar</button>
      </td>
    </tr>
  </tbody>
</table>

  <!-- Paginación -->
  <div class="flex justify-between items-center mt-6">
    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="bg-gray-200 hover:bg-gray-300 text-gray-600 text-sm font-medium py-1 px-3 rounded transition duration-150"
    >
      Página anterior
    </button>
    <span class="text-sm text-gray-600">Página {{ currentPage }} de {{ totalPages }}</span>
    <button
      (click)="nextPage()"
      [disabled]="currentPage >= totalPages"
      class="bg-gray-200 hover:bg-gray-300 text-gray-600 text-sm font-medium py-1 px-3 rounded transition duration-150"
    >
      Siguiente página
    </button>
  </div>
</div>
