<div
  class="bg-blue-900 absolute top-0 left-0 bg-gradient-to-b from-black via-black to-[#014694] bottom-0 leading-5 h-full w-full overflow-hidden">
</div>

<div
  class="relative min-h-screen sm:flex sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl">
  <div class="flex-col flex self-center lg:px-14 sm:max-w-4xl xl:max-w-md z-10">
    <div class="self-start hidden lg:flex flex-col text-gray-300 w-full min-h-[200px] lg:min-w-[500px]">
      <h1 class="relative top-[-90px] left-[-110px] font-nunito font-semibold text-6xl">Competencias FI</h1>
      <p class="relative top-[-80px] relative left-[-110px] pr-3 text-sm opacity-75 font-nunito">
        Descubre el poder de tus competencias 🚀
      </p>      
      <!-- Contenedor de imágenes alineadas -->
      <div class="flex justify-center items-center mt-6 space-x-6">
        <img src="assets/logo/logou.png" alt="Logo Company" class="relative top-[-65px] left-[-200px] h-24">
        <img src="assets/logo/logo.png" alt="Logo Company" class="relative top-[-65px] left-[-180px] h-24">
      </div>
    </div>
  </div>
  <div class="flex justify-center self-center z-10">
    <div class="p-12 bg-white mx-auto rounded-3xl w-96 shadow-lg">
      <div class="mb-7 text-center">
        <h3 class="font-semibold text-2xl text-gray-700">Iniciar Sesión</h3>
      </div>
      <div class="space-y-6">
        <div class="">
          <input 
            [(ngModel)]="username" 
            class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-gray-400" 
            type="text" 
            placeholder="Nombre de usuario" 
            required>
        </div>
        <div class="relative">
          <input 
            [(ngModel)]="password" 
            placeholder="Contraseña" 
            type="password" 
            class="text-sm px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-gray-400" 
            (keydown.enter)="onLogin()" 
            required>
        </div>
        <div *ngIf="errorMessage" class="text-red-500 text-sm">
          {{ errorMessage }}
        </div>
        <div>
          <button 
            (click)="onLogin()" 
            type="submit" 
            class="w-full flex justify-center bg-blue-600 hover:bg-blue-700 text-white p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500">
            Iniciar Sesión
          </button>
        </div>
      </div>
      <div class="mt-7 text-center text-gray-400 text-xs">
        <span>
          Copyright © 
          <a href="#" class="text-blue-500 hover:text-blue-700">NetGroup</a> 
        </span>
      </div>
    </div>
  </div>
</div>
<svg class="absolute bottom-0 left-0 " viewBox="0 0 1440 320">
  <path fill="#fff" fill-opacity="1"
        d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
  </path>
</svg>